main {
  margin: 0 auto;
  max-width: 872px;
  padding-left: 24px;
  padding-right: 24px;
}

:root {
  --main-aboutme-bg: rgba(255,255,255,0.8);
  --main-aboutme-p: rgba(0,0,0,1);
}

html.dark {
  --main-aboutme-bg: rgba(0,0,0,0.3);
  --main-aboutme-p: rgba(255,255,255,1);
}

.main-aboutme, .main-aboutweb {
  background-color: var(--main-aboutme-bg);
  display:block;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}

.main-aboutme p, .main-aboutweb p {
  color: var(--main-aboutme-p);
  font-size: 18px;
}

.main-aboutme h2, .main-aboutweb h2 {
  color: var(--main-aboutme-p);
}

main a {
  text-decoration: none;
  color: var(--main-aboutme-p);
}

main a:hover {
  color: #5aafff;
}