main {
  margin: 0 auto;
  max-width: 872px;
  padding-left: 24px;
  padding-right: 24px;
}

:root {
  --main-block-bg: rgba(255,255,255,0.8);
  --main-text: rgba(0,0,0,1);
}

html.dark {
  --main-block-bg: rgba(0,0,0,0.3);
  --main-text: rgba(255,255,255,1);
}

.main-head {
  background-color: var(--main-block-bg);
  display:block;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .main-body{
    grid-template-columns: 1fr;
  }
}

.friend-block {
  background-color: var(--main-block-bg);
  display:block;
  border-radius: 10px;
  padding: 5px 10px;
}

.friend-block {
  display: flex;              /* 横向排列头像和文字 */
  align-items: center;        /* 垂直居中对齐 */
  gap: 20px;                  /* 头像与文字间距 */
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;         /* 变成圆形 */
  object-fit: cover;          /* 防止拉伸变形 */
}

.main-foot {
  background-color: var(--main-block-bg);
  display:block;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 15px;
}

p, h2 {
  color: var(--main-text);
}